POSTGRES_DB=uganda_gis
POSTGRES_USER=uganda_gis_admin
POSTGRES_PASSWORD=change-this-database-password
KEYCLOAK_ADMIN=gis-admin
KEYCLOAK_ADMIN_PASSWORD=change-this-keycloak-password
KEYCLOAK_DB_PASSWORD=change-this-keycloak-db-password
MINIO_ROOT_USER=uganda_gis_storage
MINIO_ROOT_PASSWORD=change-this-storage-password
PGADMIN_EMAIL=gis-admin@example.go.ug
PGADMIN_PASSWORD=change-this-pgadmin-password
GRAFANA_ADMIN_PASSWORD=change-this-grafana-password
PUBLIC_HOST=localhost
